/* ESTILO GERAL */
@charset "UTF-8";
body {
  width:100%;
  height:100%;    
  font-family: arial;
  background-color: #dddddd;
  color: rgba(0,0,0,1);
}
#interface {
  width: 60rem;
  margin: 0 auto;
  position: relative;
}
@media only screen and (max-width: 60rem) {
    #interface {
		  width: 100%;
		  margin: 0 auto;
		  position: relative;
		}
}

/* MENU */
#cabecalho {
  background-color: rgb(59, 59, 59);
  height: 4.55em;
  display: flex;
  align-items: center;
}
#logoMenu {
  padding: 0 0 0 1em;
}
#menu{
  margin-left: 32em;
  display: inline-block;
}
#menu ul:before {
  content: '';
  display: block;
}
#menu ul:after {
  content: '';
  display: table;
  clear: both;
}
#menu li {
  display: inline-block;
}
#menu li a {
  display: inline-block;
  color: white;
  text-decoration: none;
  padding: 0 0.5em;
  border-bottom: 0.2em solid transparent;
}
#menu li a:hover {
  color: #FFFFFF;
  border-bottom: 0.2em solid #00b8fd;
}
#menu li.active a {
  display: inline;
  border-bottom: 0.2em solid #00b8fd;
  float: left;
  margin: 0;
}

@media screen and (max-width: 60rem) {
  #menu li a {
    list-style: none;
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding: 0 0.5em;
    border-bottom: 0.2em solid transparent;
  }
  header .control-nav {
    position: absolute;
    right: 1em;
    top: 1.75em;
    display: block;
    width: 1.75em;
    padding: 0.3em 0;
    border: solid #333;
    border-width: 0.2em 0;
    z-index: 2;
    cursor: pointer;
  }
   header .control-nav:before {
    content: "";
    display: block;
    height: 0.2em;
    background: #333;
  }
   header .control-nav-close {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    z-index: 1;
    background: rgba(0,0,0,0.4);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }
   header nav {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 8em;
    font-size: 1em;
    line-height: 2em;
    border-left: 0.1em solid #ccc;
    background: #fff;
    overflow-x: auto;
    z-index: 2;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    transform: translate(100%, 0);
  }
}

#control-nav:checked ~ .control-nav-close {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
 #control-nav:checked ~ nav {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
input[type=checkbox]{
   display: none;
}

/* CORPO DA PÁGINA - principal */
#principal {
  margin-top: 1em;
  height: auto;
  background-color: white;
  display: flex;
  align-items: center;
  min-height: 16em;
}
#banner {
	flex: 1;
  padding-left: 1em;
}
#fotoBanner{
	flex: 1;
}

@media only screen and (max-width: 520px) {
	#fotoBanner {
		display: none;
	}
}

#banner h1{
  font-size: 140%;
  font-weight: bold;
  line-height: 150%;
  color: rgb(33, 154, 212);
}
#banner p{
  font-size: 80%;
  line-height: 150%;
  color: black;
  margin: 1em 0;
}
#bbFoto {
	width: 100%;
}
#but{
	text-decoration: none;
	padding: 0.2em 0.6em;
	box-shadow: 0.15em 0.15em 0.15em #999;
	border-radius: 0.3em;
	display: inline-block;
	background-color: #dddddd;
	color: #444;
	text-decoration: none;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1em;
	border: 0;
}
#but:hover {
background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,.15));
cursor: pointer;
}

/* CORPO DA PÁGINA - container */
.itemTitulo h5{
  font-size: 37%;
  font-weight: bold;
  line-height: 150%;
  color: rgb(33, 154, 212);
  padding: 0.5em ;
  background-color: white;
}
.container {
  margin: 1em 0 2em 0;
  display: flex;
  flex-direction: ltr;
  justify-content: space-between;
  flex-wrap: wrap;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flex-item {
  flex: 1;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
  min-width: 241px;
  max-width: 307px;
}

.flex-item:nth-child(2) {
    margin: 0 0.4em;
}

.flex-item img {
	width: 100%;
}

@media only screen and (max-width: 520px) {
	.flex-item {
		max-width: none;
		width: 100%;
		margin: 0 !important;
		margin-bottom: 1em !important;
	}
}

.itemDescricao{
	font-size: 0.28em;
	font-weight: normal;
	color: black;
	line-height: 1.2em;
}
.ctaItemDescricao{
	text-decoration: none;
	font-size: 0.25em;
  color: rgb(33, 154, 212);
}

@media only screen and (max-width: 520px) {
	.ctaItemDescricao{
		margin-top: -10em;
	}
}

/* footer */
.between{
  padding: 0.4em 0;
  width: 100%; 
  background-color: rgb(200, 200, 200);
} 
footer{
  background-color: #dddddd;
  padding: 2.5em 0 5em 0;
}
.headFooter h5{
  color: rgb(41, 117, 153);
  font-weight: bold;
  padding-bottom: 1em;
  justify-content: flex-start;
}
.menuFooter {
  display: flex;
  flex-wrap: wrap;
  font-size: 90%;
  line-height: 1.5em;
}
.stFooter{
  min-width: 10em;
}
.ndFooter {
  min-width: 10em;
  flex: 1;
  flex: row;
  min-width: 10em;
}

@media only screen and (max-width: 520px) {
  .stFooter {
		max-width: none;
		width: 100%;
    flex: 1;
	}
  .ndFooter {
    padding-top: 1.5em;
		max-width: none;
		width: 100%;
    flex: 1;
  }
}